<!--admin_new_subsidyInfo-->
{{#if admin_new_subsidyInfo}}
<div class="admin_new_subsidyInfo">
  <h1>新增補助類別</h1>
  <form action="/admin_subsidyInfo" method="POST">
    <div>
      {{> message}}
      <div>
        <label>補助名稱</label>
        <input type="text" class="form-control" name="name" placeholder="請輸入補助類別名稱" value="{{name}}" required>
      </div>
      <div>
        <label>補助英文名稱</label>
        <input type="text" class="form-control" name="entity_name" placeholder="請輸入補助類別英文名稱" value="{{entity_name}}" required>
      </div>
    </div>
    <div class="text-center mt-3">      
      <a href="/admin_subsidyInfo" class="btn btn-primary">取消</a>
      <button type="submit" class="btn btn-info">新增</button>
    </div>
  </form>
</div>
{{/if}}