{{#if admin_new_leaveInfo}}
<!--admin_new_leaveInfo-->
<div class="admin_new_leaveInfo">
  <h1>新增假別資訊</h1>
  <form name="form" id="admin_new_leaveInfo" action="">
    <div>
      {{> message}}
      <div>
        <label>假別名稱</label>
        <input type="text" class="form-control" name="cnName" placeholder="請輸入假別名稱" value="{{name}}" required>
      </div>
      <div>
        <label>假別英文名稱</label>
        <input type="text" class="form-control" name="entity_name" placeholder="請輸入假別英文名稱" value="{{entity_name}}" required>
      </div>
    </div>
    <div class="formButton">
      <input type="button" id="cancel" class="btn btn-primary" onclick="Method.common.page('/admin_leaveInfo')" value="取消">
      <input type="add" id="save" class="btn btn-info" data-cpnyid="{{cpnyId}}" data-route="{{route}}" value="新增">
    </div>
  </form>
</div>
{{/if}}