{{#if admin_new_positionInfo}}
<!--admin_new_positionInfo-->
<div class="admin_new_positionInfo">
  <h1>新增職缺類別</h1>
  <form name="form" id="position" action="">
      {{> message}}
      <div>
        <label>職缺名稱</label>
        <input type="text" class="form-control" name="cnName" placeholder="請輸入職缺名稱" value="{{name}}" required>
      </div>
      <div>
        <label>職缺英文名稱</label>
        <input type="text" class="form-control" name="entity_name" placeholder="請輸入職缺英文名稱" value="{{entity_name}}" required>
    </div>
    <div class="formButton">
      <input type="button" id="cancel" class="btn btn-primary" onclick="Method.common.page('/admin_positionInfo')" value="取消">
      <input type="submit" id="add" class="btn btn-info" data-route="{{route}}" value="新增">
    </div>
  </form>
</div>
{{/if}}