{{#if jh_edit_leave}}
<!-- jh_edit_leave -->
<div class="jh_edit_leave">
  <h1>編輯假別資訊</h1>
  <form action="/jh_leave/{{leaveInfo.entity_name}}?_method=PUT" method="POST">
    <div>
      {{> message}}
      <div>
        <label for="name">假別名稱</label>
        <input type="text" class="form-control" name="name" id="name" placeholder="請輸入假別名稱" value="{{leaveInfo.name}}" disabled>
      </div>
      <div>
        <label for="name">英文名稱</label>
        <input type="text" class="form-control" name="entity_name" id="entity_name" placeholder="請輸入英文名稱" value="{{leaveInfo.entity_name}}" disabled>
      </div>
      <div>
        <label for="position_des">假別內容</label>
        <textarea class="form-control" name="des" id="des" placeholder="請輸入假別內容" rows="5" required>{{leaveInfo.des}}</textarea>
      </div>
    </div>
    <div class="text-center mt-3">
      <a href="javascript:;" class="btn btn-primary" onclick="page('/jh_leave')">取消</a>
      <button type="submit" class="btn btn-info">儲存</button>
    </div>
  </form>
</div>
{{/if}}