{{#if jh_edit_cpnyInfo}}
<!-- jh_edit_cpnyInfo -->
<div class="jh_edit_cpnyInfo">
  <h1>編輯資訊</h1>
  <form action="/jh_cpnyInfo/{{cpnyInfo.entity_name}}?_method=PUT" method="POST">
      {{> message}}
      <div>
        <div>
          <label for="name">資訊名稱</label>
          <input type="text" class="form-control" name="name" id="name" placeholder="請輸入資訊名稱" value="{{cpnyInfo.name}}" disabled>
        </div>

        <div>
          <label for="position_des">資訊英文名稱</label>
          <input class="form-control" name="entity_name" id="entity_name" placeholder="請輸入英文名稱" value="{{cpnyInfo.entity_name}}" required disabled>
        </div>

        <div>
          <label for="position_des">資訊內容</label>
          <textarea class="form-control" name="des" id="des" placeholder="請輸入資訊內容" rows="5" required>{{cpnyInfo.des}}</textarea>
        </div>
    </div>
    <div class="text-center mt-3">
      <a href="javascript:;" class="btn btn-primary" onclick="page('/jh_cpnyInfo')">取消</a>
      <button type="submit" class="btn btn-info">儲存</button>
    </div>
  </form>
</div>
{{/if}}