{{#if jh_edit_position}}
<!-- jh_edit_position -->
<div class="row m-5">
  <div class="col-8 m-auto">
    <div class="card card-body">
      <h1 class="text-center mt-3">編輯職缺</h1>
      <form action="/position/{{positionInfo.id}}/{{cpnyId}}?_method=PUT" method="POST">
        <div class="modal-body">
          {{> message}}

          <div class="input-group pt-3">
            <div class="input-group-prepend">
              <label for="name" class="input-group-text new-title">職缺名稱</label>
            </div>
            <input type="text" class="form-control new-des" name="name" id="name" placeholder="請輸入職缺名稱" value="{{positionInfo.name}}" disabled>
          </div>

          <div class="input-group pt-3">
            <div class="input-group-prepend">
              <label for="position_des" class="input-group-text new-title">職缺內容</label>
            </div>
            <textarea class="form-control new-des" name="des" id="des" placeholder="請輸入職缺內容" rows="5" required>{{positionInfo.des}}</textarea>
          </div>

        </div>
        <div class="modal-footer">
          <a href="/position" class="btn btn-outline-info">取消</a>
          <button type="submit" class="btn btn-primary confirm-btn" id="confirm-create">儲存</button>
        </div>
      </form>
    </div>
  </div>
</div>
{{/if}}