{{#if jh_edit_position}}
<!-- jh_edit_position -->
<div>
  <h1>編輯職缺</h1>
  <form action="" name="form" id="position">
    <div>
      {{> message}}
      <div>
        <label for="cnName">職缺名稱</label>
        <input type="text" class="form-control" name="cnName" placeholder="請輸入職缺名稱" value="{{positionInfo.name}}" disabled>
      </div>

      <div>
        <label for="name">職缺英文名稱</label>
        <input type="text" class="form-control" name="entity_name" placeholder="請輸入英文名稱" value="{{positionInfo.entity_name}}" disabled>
      </div>

      <div>
        <label for="position_des">職缺內容</label>
        <textarea class="form-control" name="des" placeholder="請輸入職缺內容" rows="5" required>{{positionInfo.des}}</textarea>
      </div>
    </div>
    <div class="formButton">
      <input id="cancel" class="btn btn-primary" onclick="Method.common.page('/jh_position')" value="取消">
      <input id="save" type="submit" class="btn btn-info" data-infoId="{{positionInfo.infoId}}" value="儲存">
    </div>
  </form>
</div>
{{/if}}