{{#if jh_edit_cpnyInfo}}
<!-- jh_edit_cpnyInfo -->
<div class="jh_edit_cpnyInfo">
  <h1>編輯資訊</h1>
  <form action="" name="form">
      {{> message}}
      <div>
        <div>
          <label for="cnName">資訊名稱</label>
          <input type="text" class="form-control" name="cnName" placeholder="請輸入資訊名稱" value="{{cpnyInfo.name}}" disabled>
        </div>

        <div>
          <label for="position_des">資訊英文名稱</label>
          <input class="form-control" name="entity_name" placeholder="請輸入英文名稱" value="{{cpnyInfo.entity_name}}" required disabled>
        </div>

        <div>
          <label for="position_des">資訊內容</label>
          <textarea class="form-control" name="des" placeholder="請輸入資訊內容" rows="5" required>{{cpnyInfo.des}}</textarea>
        </div>
    </div>
    <div class="formButton">
      <input id="cancel" class="btn btn-primary" onclick="Method.common.page('/jh_cpnyInfo')" value="取消">
      <input id="save" type="submit" class="btn btn-info" data-infoId="{{cpnyInfo.infoId}}" value="儲存">
    </div>
  </form>
</div>
{{/if}}