{{#if jh_edit_des}}
<!-- jh_edit_des -->
<div class="jh_edit_des">
  <h1>編輯{{#is category 'cpnyinfo'}}公司{{/is}}{{#is category 'position'}}職缺{{/is}}{{#is category 'leave'}}假別{{/is}}{{#is category 'subsidy'}}補助{{/is}}資訊</h1>
  <form action="" name="form">
    {{> message}}
    <div>
      <div>
        <label for="cnName">{{#is category 'cpnyinfo'}}資訊{{/is}}{{#is category 'position'}}職缺{{/is}}{{#is category 'leave'}}假別{{/is}}{{#is category 'subsidy'}}補助{{/is}}名稱</label>
        <input type="text" class="form-control" name="cnName" placeholder="請輸入中文名稱" value="{{desInfo.name}}" disabled>
      </div>

      <div>
        <label for="position_des">{{#is category 'cpnyinfo'}}資訊{{/is}}{{#is category 'position'}}職缺{{/is}}{{#is category 'leave'}}假別{{/is}}{{#is category 'subsidy'}}補助{{/is}}英文名稱</label>
        <input class="form-control" name="entity_name" placeholder="請輸入英文名稱" value="{{desInfo.entity_name}}" required disabled>
      </div>

      <div>
        <label for="position_des">資訊內容</label>
        <textarea class="form-control" name="des" placeholder="請輸入{{#is category 'cpnyinfo'}}資訊{{/is}}{{#is category 'position'}}職缺{{/is}}{{#is category 'leave'}}假別{{/is}}{{#is category 'subsidy'}}補助{{/is}}內容" rows="5" required>{{desInfo.des}}</textarea>
      </div>
    </div>
    <div class="formButton">
      {{#is category 'cpnyinfo'}}<input id="cancel" class="btn btn-primary" onclick="Method.common.page('/jh_cpnyInfo')" value="取消">{{/is}}
      {{#is category 'position'}}<input id="cancel" class="btn btn-primary" onclick="Method.common.page('/jh_position')" value="取消">{{/is}}
      {{#is category 'leave'}} <input id="cancel" class="btn btn-primary" onclick="Method.common.page('/jh_leave')" value="取消">{{/is}}
      {{#is category 'subsidy'}}<input id="cancel" class="btn btn-primary" onclick="Method.common.page('/jh_subsidy')" value="取消">{{/is}}
      <input id="save" type="submit" class="btn btn-info" data-infoId="{{desInfo.infoId}}" value="儲存">
    </div>
  </form>
</div>
{{/if}}