{{#if jh_edit_leave}}
<!-- jh_edit_leave -->
<div class="jh_edit_leave">
  <h1>編輯假別資訊</h1>
  <form action="" name="form" id="leave">
    <div>
      {{> message}}
      <div>
        <label for="cnName">假別名稱</label>
        <input type="text" class="form-control" name="cnName" placeholder="請輸入假別名稱" value="{{leaveInfo.name}}" disabled>
      </div>
      <div>
        <label for="name">英文名稱</label>
        <input type="text" class="form-control" name="entity_name" placeholder="請輸入英文名稱" value="{{leaveInfo.entity_name}}" disabled>
      </div>
      <div>
        <label for="position_des">假別內容</label>
        <textarea class="form-control" name="des" placeholder="請輸入假別內容" rows="5" required>{{leaveInfo.des}}</textarea>
      </div>
    </div>
    <div class="formButton">
      <input id="cancel" class="btn btn-primary" onclick="Method.common.page('/jh_leave')" value="取消">
      <input id="save" type="submit" class="btn btn-info" data-infoId="{{leaveInfo.infoId}}" value="儲存">
    </div>
  </form>
</div>
{{/if}}