{{#if jh_edit_subsidy}}
<!-- jh_edit_subsidy -->
<div>
  <h1 class="text-center">編輯補助津貼</h1>
  <form action="/subsidy/{{subsidyInfo.entity_name}}?_method=PUT" method="POST">
    <div class="modal-body">
      {{> message}}

      <div class="input-group">
        <div class="input-group-prepend">
          <label for="name" class="input-group-text new-title">補助津貼名稱</label>
        </div>
        <input type="text" class="form-control new-des" name="name" id="name" placeholder="請輸入補助津貼名稱" value="{{subsidyInfo.name}}" disabled>
      </div>

      <div class="input-group">
        <div class="input-group-prepend">
          <label for="position_des" class="input-group-text new-title">補助津貼內容</label>
        </div>
        <textarea class="form-control new-des" name="des" id="des" placeholder="請輸入補助津貼內容" rows="5" required>{{subsidyInfo.des}}</textarea>
      </div>

    </div>
    <div class="text-center">
      <a href="/subsidy" class="btn btn-outline-info">取消</a>
      <button type="submit" class="btn btn-primary confirm-btn" id="confirm-create">儲存</button>
    </div>
  </form>
</div>
{{/if}}