{{#if jh_index}}
<!-- jh_index -->
<div class="jh_position">
  <h1>設定『{{cpny_name}}』小幫手使用方式</h1>
  {{> message}}
  <div id="data-panel">
      <ol>
        <li>請先在左側點選想要設定的類別設定按鈕</li>
        <li>點選內頁中的新增資料按鈕來新增資料</li>
        <li>新增完資料後，請點選上方『執行訓練』按鈕來訓練機器人，可將要新增的資料一次性新增完畢，再一起訓練即可</li>
        <li>待『執行訓練』按鈕恢復即代表訓練完成，可點選畫面右下方藍色按鈕，可與機器人進行對話、測試</li>
      </ol>
  </div>
</div>
{{/if}}