{{#if jh_new_cpnyInfo}}
<!-- jh_new_cpnyInfo -->
<div>
  <div>
    <div>
      <h1>新增資訊</h1>
      <form action="/company/{{cpnyId}}" method="POST">
        <div class="modal-body">
          {{> message}}

          <div class="input-group">
            <div class="input-group-prepend">
              <label for="name" class="input-group-text new-title">資訊名稱</label>
            </div>
            <input type="text" class="form-control new-des" name="name" id="name" placeholder="請輸入資訊名稱" value="{{name}}" required>
          </div>

          <div class="input-group">
            <div class="input-group-prepend">
              <label for="entity_name" class="input-group-text new-title">資訊英文名稱</label>
            </div>
            <input type="text" class="form-control new-des" name="entity_name" id="entity_name" placeholder="請輸入資訊英文名稱" value="{{entity_name}}" required>
          </div>

          <div class="input-group">
            <div class="input-group-prepend">
              <label for="des" class="input-group-text new-title">資訊內容</label>
            </div>
            <textarea class="form-control new-des" name="des" id="des" placeholder="請輸入資訊內容" rows="5" required>{{des}}</textarea>
          </div>

        </div>
        <div class="modal-footer">
          <a href="/company" class="btn btn-outline-info">取消</a>
          <button type="submit" class="btn btn-primary confirm-btn" id="confirm-create">新增</button>
        </div>
      </form>
    </div>
  </div>
</div>
{{/if}}