{{#if jh_new_position}}
<!-- jh_new_position -->
<div class="jh_new_position">
      <h1>新增職缺</h1>
      <form action="/jh_position" method="POST">
          {{> message}}
          <div>
            <label for="name">職缺名稱</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="請輸入職缺名稱" value="{{name}}" required>
          </div>

          <div>
            <label for="entity_name">英文名稱</label>
            <input type="text" class="form-control" name="entity_name" id="entity_name" placeholder="請輸入職缺英文名稱" value="{{entity_name}}" required>
          </div>

          <div>
            <label for="des">職缺內容</label>
            <textarea class="form-control" name="des" id="des" placeholder="請輸入職缺內容" rows="5" required>{{des}}</textarea>
          </div>

        <div class="text-center mt-3">
          <a href="javascript:;" class="btn btn-primary" onclick="page('/jh_position')">取消</a>
          <button type="submit" class="btn btn-info" id="confirm-create">新增</button>
        </div>
      </form>
</div>
{{/if}}