<!--index.hbs-->
<div data-func="index">
  {{#if isAdmin}}
    {{#is whichRole 'hire'}}
    <div>
      <!-- admin jh 按鈕 -->
      <span class="menu">
        <form action="/roleFilter?_method=PUT" method="POST">
          <select class="form-control" name="roleFilter" id="roleFilter" onchange="submit()">
            <option value="hire" {{#is whichRole 'hire'}} selected {{/is}}>徵厲Hire</option>
            <option value="hr" {{#is whichRole 'hr'}} selected {{/is}}>棉花糖客服</option>
          </select>
        </form>
        <div id="messageBlock"></div>
        <button type="button" id="train" class="btn btn-dark jh-train-btn">執行訓練</button>
        <div>
          <div>
            <label>帳號資料:</label>
            <input type="button" class="btn btn-success" onclick="Method.common.page('/admin_company')" value="設定">
          </div> 
          <div>
            <label>資訊類別:</label>
            <input type="button" class="btn btn-success" onclick="Method.common.page('/admin_companyInfo')" value="設定">
          </div> 
          <div>
            <label>職缺類別:</label>
            <input type="button" class="btn btn-success" onclick="Method.common.page('/admin_positionInfo')" value="設定">
          </div>
          <!--
          <div>
            <label>公司產業類別:</label>
            <a href="/adminIndustryInfo" class="btn btn-success" role="button">設定</a>
          </div>
          --> 
          <div>
            <label>假別類別:</label>
            <input type="button" class="btn btn-success" onclick="Method.common.page('/admin_leaveInfo')" value="設定">
          </div>
          <div>
            <label>補助類別:</label>
            <input type="button" class="btn btn-success" onclick="Method.common.page('/admin_subsidyInfo')" value="設定">
          </div>
          <div>
            <label>回覆查詢:</label>
            <input type="button" class="btn btn-success" onclick="Method.common.page('/admin_search')" value="設定">
          </div>
        </div>
      </span>

      <!-- admin jh 右側顯示頁面 -->
      <span class="setting">
        {{> admin_register}}
        {{> admin_company}}
        {{> admin_edit_company}}
        {{> admin_edit_pwd}}
        {{> admin_search}}
        {{> admin_new_search}}
        {{> admin_edit_search}}
        {{> admin_edit_category}}
        {{> admin_new_category}}
        {{> admin_category}}
      </span>

    </div>
    {{/is}}

    {{#is whichRole 'hr'}}
    <div>
      {{> message}}
    </div>

    <div>
      <!-- admin hr 按鈕 -->
      <span class="menu">

        <form action="/roleFilter?_method=PUT" method="POST">
          <select class="form-control" name="roleFilter" id="roleFilter" onchange="submit()">
            <option value="hire" {{#is whichRole 'hire'}} selected {{/is}}>徵厲Hire</option>
            <option value="hr" {{#is whichRole 'hr'}} selected {{/is}}>棉花糖客服</option>
          </select>
        </form>

        <button id="train" class="btn btn-dark cs-train-btn" type="button">執行訓練</button>
        <div>
          <div>
            <label>Admin - 功能分類:</label>

            {{#if trainFunction}}
            <a href="/bf_cs/notTrainFunction" class="not-trained-block">功能未訓練：{{trainFunction}}</a>
            {{/if}}

            <a href="/bf_cs/function" class="btn btn-success" role="button">設定</a>
          </div>
        

          <div>
            <label>Admin - 問答分類:</label>

              {{#if trainQuestion}}
              <div>
                <a href="/bf_cs/notTrainQuestion" class="not-trained-block">問答未訓練：{{trainQuestion}}</a>
              </div>
              {{/if}}

              <a href="/bf_cs/question" class="btn btn-success" role="button">設定</a>
          </div>

        </div>
      </span>

      <!-- admin hr 右側顯示畫面 -->
      <span class="setting"> </span>

    </div>

    {{/is}}
  {{else if isHr}}
  <div>
    {{> message}}
  </div>

  <div>
    <!-- user hr 按鈕 -->
    <span class="menu">
        <button id="train" class="btn btn-dark cs-train-btn" type="button">執行訓練</button>
        <div>
          <div>
            <div>
              <label>功能分類:</label>
              <a href="/bf_cs/function" class="btn btn-success" role="button">設定</a>
            </div> 

            <div>
              <label>問答分類:</label>
              <a href="/bf_cs/question" class="btn btn-success" role="button">設定</a>
            </div>

          </div>
        </div>
    </span>

    <!-- user hr 右側畫面 -->
    <span class="setting"></span>
  </div>

  {{else}}

  <div>
    <!-- user jh 按鈕 -->
    <span class="menu">
      <div id="messageBlock"></div>
      <button id="train" class="btn btn-dark jh-train-btn" type="button">執行訓練</button>
        <div>
          <div>
            <label>公司資訊:</label>
            <input type="button" class="btn btn-success" onclick="Method.common.page('/jh_cpnyInfo')" value="設定">
          </div>

          <div>
            <label>職缺設定:</label>
            <input type="button" class="btn btn-success" onclick="Method.common.page('/jh_position')" value="設定">
          </div>

          <div>
            <label>假別設定:</label>
            <input type="button" class="btn btn-success" onclick="Method.common.page('/jh_leave')" value="設定">
          </div>

          <div>
            <label>補助津貼:</label>
            <input type="button" class="btn btn-success" onclick="Method.common.page('/jh_subsidy')" value="設定">
          </div>

          {{!-- <div>
            <label>通知問候:</label>
              <a href="/greet" class="btn btn-primary" role="button">設定</a>
          </div>
          <div>
            <label>預設回覆:</label>
              <a href="/defaultRes" class="btn btn-primary" role="button">設定</a>
          </div> --}}
        </div>

    </span>

    <!-- user jh 右側畫面 -->
    <span class="setting">
      {{> jh_index}}
      {{> jh_des}}
      {{> jh_edit_des}}
      {{> jh_new_des}}
    </span>
  </div>
  {{/if}}
