<div class="row m-5">
  <div class="col-8 m-auto">
    <div class="card card-body">
      <h1 class="text-center mt-3">新增公司假別</h1>
      <form action="/adminLeaveInfo" method="POST">
        <div class="modal-body">
          {{> message}}
          <div class="input-group pt-3">
            <div class="input-group-prepend">
              <span class="input-group-text new-title">公司假別名稱</span>
            </div>
            <input type="text" class="form-control new-des" name="leave_name" placeholder="請輸入公司假別名稱" value="{{leave_name}}" required>
          </div>

          <div class="input-group pt-3">
            <div class="input-group-prepend">
              <span class="input-group-text new-title col-12">公司假別英文名稱</span>
            </div>
            <input type="text" class="form-control new-des" name="leave_entity_name" placeholder="請輸入公司假別英文名稱" value="{{leave_entity_name}}" required>
          </div>
          <p>假別英文名稱後方請加上「_leave」</p>
          <p>ex.產假的假別英文名稱為maternity_leave</p>

        </div>
        <div class="modal-footer">
          <a href="/adminLeaveInfo" class="btn btn-outline-info">取消</a>
          <button type="submit" class="btn btn-primary confirm-btn" id="confirm-create">新增</button>
        </div>
      </form>
    </div>
  </div>
</div>