<div class="row m-5">
  <div class="col-8 m-auto">
    <div class="card card-body">
      <h1 class="text-center mt-3">新增產業類別</h1>
      <form action="/adminIndustryInfo" method="POST">
        <div class="modal-body">
          {{> message}}
          <div class="input-group pt-3">
            <div class="input-group-prepend">
              <span class="input-group-text new-title">產業類別代號</span>
            </div>
            <input type="text" class="form-control new-des" name="industry_id" placeholder="請輸入產業類別代號" value="{{industry_id}}" required>
          </div>

          <div class="input-group pt-3">
            <div class="input-group-prepend">
              <span class="input-group-text new-title col-12">產業類別名稱</span>
            </div>
            <input type="text" class="form-control new-des" name="industry_name" placeholder="請輸入產業類別名稱" value="{{industry_name}}" required>
          </div>
        </div>
        <div class="modal-footer">
          <a href="/adminIndustryInfo" class="btn btn-outline-info">取消</a>
          <button type="submit" class="btn btn-primary confirm-btn" id="confirm-create">新增</button>
        </div>
      </form>
    </div>
  </div>
</div>