@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

/* reset css */
* {box-sizing: border-box;}

body,
html {margin: 0;padding: 0;height: 100%;}

body{background: #f1f1f1;}
.list-group-item{background:none;}


.btn,
button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {outline: 0px !important;}

button {background-color: transparent;border: 0;cursor: pointer;}
button[disabled] {pointer-events: none;}
input {padding: 0;}
input:required {box-shadow: none;}
input:invalid {box-shadow: none;}

::-webkit-scrollbar {width: 0px;}

/* rasa-chatbot css */
.rw-conversation-container .rw-header {background-color: #1b5cb6 !important;}
.rw-conversation-container .rw-client {background-color: #2170de !important;}
.rw-launcher {background-color: #2170de !important;}
.rw-hide-sm {background-color: #e91616 !important;}
.rw-response .rw-message-text .rw-markdown p a {color: #2170de;}
.rw-conversation-container .rw-messages-container .rw-replies {display: block;overflow-y: scroll;max-height: 10rem;}
.rw-replies::-webkit-scrollbar {width: 6px;}
.rw-replies::-webkit-scrollbar-thumb {border-radius: 3px;background-color: rgba(0, 0, 0, 0.1);}
.rw-conversation-container .rw-messages-container .rw-replies .rw-reply {display: block;text-align: center;}
.rw-conversation-container {height: auto;display: flex;flex-direction: column;justify-content: space-between;}
.rw-conversation-container {height: 80vh;}

/* 輪播圖subtitle */
.rw-carousel-card-subtitle{height: 5rem;}

.alert-danger,
.alert-warning,
.alert-success {font-size: 1rem;font-weight: bold;}

.scroll-view{width: auto;height: 30vw;white-space: nowrap;overflow-y: auto;overflow-x: hidden;padding-left: 6px;}
.label-title {font-size: 20px;font-weight: bold; color: #111;padding: 1rem;}
.label-des {font-size: 20px;font-weight: normal; color: #111;padding: 1rem;}

.new-title,
.new-des {font-size: 18px;font-weight: normal; color: #111;}

.des-text{font-size: 15px; white-space:pre-line;padding: 1rem}

.scroll-view::-webkit-scrollbar {width: 6px;}
.scroll-view::-webkit-scrollbar-thumb {border-radius: 3px;background-color: rgba(0, 0, 0, 0.1);}
.main-footer{width: 100%;padding: 10px;position: fixed;bottom: 0;background: #020202;}
.footer-text{font-weight: normal;font-size: 12px;line-height: 22px;margin-bottom: 0;text-align: center;color: #fff;}
.container {padding-bottom: 40px;}
.item-wrapper{display: grid;grid-template-columns: repeat(4, 1fr);grid-template-rows: auto, auto;background: #fff;width:100%;border: 1px solid #111;border-radius: 15px;}

.item-title,
.item-des{grid-column-start: 1;grid-column-end: 4;}

.item-buttons {grid-column-start: 4;grid-column-end: 5;grid-row-start: 1;grid-row-end: 3;display: flex;align-items: center;justify-content: start;padding: 1rem;}
.home {display: flex;flex-wrap: wrap;}

.industry-filter-wrapper,
.admin-search-wrapper,
.cs-search-wrapper{width: 100%;font-size: 1.5rem;display: flex;}

#roleFilter{font-size: 1.5rem;}
#position-block{position: relative;}

.not-read-block,
.trained-block{font-weight: 400;color: #1b5cb6;}

.not-trained-block {font-weight: 400;color: #e91616;}
.position-detail-block {position: absolute;right: -5%;}

.function-detail-block,
.question-detail-block{font-size: 1.2rem;position: absolute;bottom: 0;}

.rw-message .rw-carousel-container,
.rw-carousel-container .rw-carousel-card {min-height: 200px !important;}

.fast-spin {-webkit-animation: fa-spin 0.75s infinite linear;animation: fa-spin 0.75s infinite linear;}

@media screen and (min-width: 800px) {
  .rw-messages-container {height: 100% !important;max-height: max-content !important;}
}

@media screen and (min-height: 1081px) {
  .rw-conversation-container {height: 50vh;}
}

/*mark*/
.login body{font-family: 'Comfortaa','Noto Sans TC';font-weight: inherit;background: url(/images/robot.png) -35% center/auto 100% no-repeat,url(/images/bg.png) #f1f1f1;}
.login label{font-size: 16px;}
.login input{border-radius:5px}
.login button{border-radius:5px;font-size: 14px;letter-spacing: 1px;}
.login h1{font-size: 45px;margin-bottom: 15px;text-transform: initial;color: #666;}
.login .container{max-width: calc(100% - 20px);height: calc(100% - 42px);display: flex;padding: 0;justify-content: center;align-items: center;overflow: auto;}
.login .container > div{width: 500px;overflow: auto;padding: 20px;max-height: 100%;}
.login .loginForm{background: #fff;border-radius: 10px;padding: 20px;box-shadow: 5px 5px 10px #ccc;}
.login .lead{font-weight:bold;font-size:18px;margin-top:30px}
.login .btn{border-radius:5px;}
.login .navbar{display:none;}
.navbar{padding:10px;}
.navbar .btn{padding:10px 20px;border-radius:5px;}
.alert-dismissible .close{font-size: 24px;}